rest-service/node_modules
rest-service/vendor
rest-service/.git
rest-service/.gitignore
rest-service/.env
rest-service/.env.backup
rest-service/.env.production
rest-service/.phpunit.result.cache
rest-service/storage/logs/*
rest-service/storage/framework/cache/*
rest-service/storage/framework/sessions/*
rest-service/storage/framework/views/*
rest-service/bootstrap/cache/*
rest-service/tests
rest-service/.phpunit.cache
rest-service/coverage
.idea
.vscode
*.md
docker-compose.yml
Dockerfile
.dockerignore
.git
.github

